Task19/Task19.csproj
Task19/bin/Debug/net6.0/*.*
Task19/obj/*.*
Task19/obj/Debug/net6.0/ref/*.*
Task19/obj/Debug/net6.0/refint/*.*

Task21/Task21.csproj
Task21/bin/Debug/net6.0/*.*
Task21/obj/*.*
Task21/obj/Debug/net6.0/ref/*.*
Task21/obj/Debug/net6.0/refint/*.*

Task23/Task23.csproj
Task23/bin/Debug/net6.0/*.*
Task23/obj/*.*
Task23/obj/Debug/net6.0/ref/*.*
Task23/obj/Debug/net6.0/refint/*.*

